
input{
  display: block;
  width: 100%;
  padding: .75em 1.2em;
  border-radius: .5rem;
  margin: .2em;
  border: 1px solid var(--blue-hover);
  background-color: var(--lighter-blue);
  outline: 2px solid transparent;
  transition: all 250ms ease;
  font-weight: 600;
  font-size: .9rem;
  /* font-family: var( --font-sans); */
}
input:focus{
border: 1px solid var(--blue-primary);
 outline: 1px solid var(--blue-primary);
}
.f-wrap{
  flex-wrap: wrap;
}


.custom-container{
  border: 2px solid  var(--blue-hover);
  width: 100%;
  max-width: 600px;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px var(--blue-hover);
  background-color: var(--white);

  padding: 1em;
  margin: 2em 1em;
}


.custom-container h4{
  margin: 0;
}



.text-icon-container{
 justify-content: start;
}
.text-icon-container svg{
  margin-inline: .8em;
}
.w-100{
  width: 100%;
}
.account-no-input-container{
  position: relative;
}
.scan-button{
  padding: .1em;
  
  position: absolute;
  top: 50%;
  right: .5em;
}


.confirm-purchase-container{
  border: .5px solid var(--text-muted);
  padding: 1em ;
  border-radius: 1rem;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2em;
}
.confirm-purchase-container>*{
  padding: .5em;
}

.confirm-phone-number-details{
  border-top: 1.5px dotted var(--text-muted);
  border-bottom: 1.5px dotted var(--text-muted);
}

button{
  border-radius: .5rem;
}

.enter-pin-container{
  border: .5px solid var(--text-muted);
  padding: 1em ;
  border-radius: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0;
}
.enter-pin-container h4,button{
  margin: 0;
}

.enter-pin-container >*{
  margin: .5em 0;
}

#pin{
  padding: 1em 0;
  width: 100%;
  margin: 1.5em 0;
  text-align: center;
  border: 2px solid  var(--text-muted);
  border-radius: .5rem;
  font-weight: 1000;
  font-size: 1rem;
}
#pin::placeholder{
  text-align: center;
  font-weight: 700;
   font-size: 2rem;
}


.logo{
  padding: 0;
}
.logo a{
  margin: 0;
  padding: .5em;
}

aside ul{
  padding-left: 0;
}
aside a {
  transition: background-color 0.3s ease, color 0.3s ease;
}

aside a svg {
  transition: fill 0.3s ease, color 0.3s ease;
}


.btn-reverse{
  padding: .5em 1em;
  color: var(--blue-primary);
  font-size: 1.1rem;
  border-radius: .5rem;
}

.btn-reverse:hover{
  color: var(--white);
}


.master-container{
  display: flex;
  height: 100svh;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: .5px solid var(--text-muted);
  width: 20%;
}

aside li {
  margin: .25em 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

aside a{
  color: var(--black);
  font-weight: 600;
  border-radius: inherit;
}





.upper-aside-container{
  padding-right: 1em;
}

#dashboard-logout-btn{
  border: .5px solid var(--text-muted);
  width: 100%;
  margin: 0;
  border-radius: 0;
  padding: 1em;
}
#dashboard-logout-btn:hover{
  background-color: red;
  color: var(--white);
}


.main-wrapper{
  flex: 1;
  display: flex;
  flex-direction: column;
}

header{
  border-bottom: .5px solid var(--text-muted);
  padding: .5em 1.5em;
}
header h2{
   font-size: clamp(1rem, 4.5vw, 1.5rem);
   margin: 0 1em;
}
.profile-photo-container{
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--blue-primary);
}

main{
  flex: 1;
  padding: .5em 1em;
  overflow-y: auto;
}

.profile-img-container{
  display: grid;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: .5em;
  background-color: var(--blue-primary);
}

h1 {
  font-size: clamp(.8rem, 5vw, 1rem); /* Between 32px and 48px */
  margin: 0;
}
h2 {
  font-size: clamp(1rem, 4.5vw, 2rem); /* Between 28px and 40px */
  margin: 0;
  margin-top: .1em;
}
h3 {
  font-size: clamp(.7rem, 4vw, 1.5rem); /* Between 25px and 35px */
  margin: .25em 0;
}
h4 {
  font-size: clamp(.7rem, 3.5vw, 1.2rem); /* Between 22px and 32px */
    margin: 1.5em 0;
}

.user-details-container{
  margin-bottom: 2.5em;
}

.account-details-contaner{
  background-color: var(--blue-primary);
  color: var(--white);
  width: 100%;
  max-width: 350px;
  padding:.3em 1em;
  border-radius: 1rem;
  margin-top: 1em ;
}

.linked-accounts-container{
  border: 1px solid var(--text-muted);
  width: 100%;
  border-radius: 1rem;
  padding: .5em 1.5em; 
  margin: .5em 0;
  box-sizing: border-box;
}

.linked-accounts-container button {
  background-color: green;
}


/* ============ SETTINGS SECTION ========== */
.settings-section ul{
 border: 1px solid var(--text-muted);
 width: 100%;
 max-width: 500px;
 border-radius: 1rem;
 padding: 1.5em 1em;
}

.settings-section ul li a span{
  font-weight: 600;
}

#logout-btn{
  padding: .5em 7em;
  margin: 2em 0;
  background-color: var(--red);
  border-radius: .5rem;
}
#logout-btn:hover{
  opacity: .85;
  background-color: rgb(184, 0, 0);
}
#logout-btn:active{
  opacity: .75;
}
/* base state */
main section {
   display: none;
   padding: 1em 0;
}

/* visible state */
main section.active {
  display: flex;
  flex-direction: column;

}


/* ============ sections styling =========== */
.home-section{
  height: auto;
  padding-top: 0;
}

.home-section h3{
  margin: 0;
}

.Scheduled-btn-container button{
  margin-inline: .3em;
  font-size: 1rem;
}

.scheduled-btn:hover{
  color: var(--white);
  background-color: var(--navy-blue);
}


.acount-verified-container{
  padding: .3em 1em;
  border-radius: .5rem;
}

#verify-account-details-container ul li{
  border-bottom: 1px dotted var(--text-muted);
  padding: .8em .5em;
  font-weight: 600;
  color: var(--navy-blue);
  font-family: var(--font-sans);
}

.enter-pin-container{
   width: fit-content;
   padding: 2em;
}

.account-pin-container input{
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}

.enter-acc-PIN-btn-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  gap: .8em;
}
.enter-acc-PIN-btn-container button{
  background-color: transparent;
  border: 1px solid var(--blue-hover);
  color: var(--navy-blue);
  font-weight: 700;
  box-shadow: 1px 1px 2px var(--text-muted);
  padding: .3em 0;
}
.enter-acc-PIN-btn-container button:hover{
  background-color: var(--lighter-blue);
}


/* ================ BUY DATA SECTION STYLES =============== */
.data-plans-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

.data-plans-container button{
  background-color: transparent;
  color: var(--text-muted);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  line-height: 1.6;
  border: 2px solid var(--blue-hover);
  border-radius: 1rem;
  padding: .5em 1em;
}

.data-plans-container button .plan, .price{
  font-weight: 600;
  color: var(--navy-blue);
}

.data-plans-container button:hover{
  border: 2px solid var(--blue-primary);
}

/* ============== FIXED SAVINGS STYLES ============= */
.auto-renew-container{
  margin-inline: 1em;
  padding: .25em 1em;
  border-radius: 2rem;
  background-color: var(--blue-primary);
  cursor: pointer;
}

.auto-renew-container button{
  background-color: var(--white);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  transform: translateX(-80%);
}


#fixed-savings-form{
  border: 1px solid var(--navy-blue);
  padding: .5em;
}

legend{
  padding: .5em;
}

fieldset{
  display: flex;
  padding: .5em;
  flex-wrap: wrap;
}
fieldset >*{
  display: flex;
  align-items: center;
  margin-inline: .25em;
}
fieldset > div >input{
  padding: .5em;
  flex: 1;
}

.fixed-savings-section .bottom-container{
   border: 1px solid var(--text-muted);
   padding: .5em;
}


/* ============== CLASSLIST =============== */
.phone-error.show{
 visibility: visible;
}
.amount-error.show{
 visibility: visible;
}
.network-error.show{
  visibility: visible;
}

aside a.active {
  background-color: var(--blue-primary);
  color: var(--white);
}

aside a.active svg {
  fill: var(--white);
  color: var(--black);
}




/* ==========  MEDIA QUERIES ======================*/
@media (max-width: 1100px) {

  .master-container{
    display: flex;
    flex-direction: column;
    height: 100svh;
    overflow: scroll;
  }
  section{
  margin-bottom: 4em;
}

  aside {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: scroll;
    padding: 0;
    background-color: var(--white);
    z-index: 100;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  aside::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  aside>*{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;

  }
  aside ul{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    min-width: fit-content;
    flex: 1;
  }
    aside ul li {
      margin: 0 .5em;
      border-radius: 0;
      display: flex;
    }
    aside ul li a{
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 0;
      padding: .5em;
      margin: 0; 
      max-width: 80px;
    }
    aside ul li a:hover{
      background-color: var(--lighter-blue);
    }
    aside ul li a span{
      overflow-wrap: break-word;
      font-size: .8rem;
    }
.logo{
  display: none;
}
#dashboard-logout-btn{
  border: none;
  padding: .5em 1em;
  display: flex;
  flex-direction: column;
     font-size: .8rem;
}
.upper-aside-container{
  padding: 0;
  flex: 1;
}

.enter-pin-container{
  max-width: 300px;
}

.custom-container{
  margin: .8em 0;
}

}

@media(max-width: 600px){
.upper-cotainer{
  flex-wrap: wrap;
}
}